/* *{
    background: linear-gradient(yellow,blue);
} */
/* body{
    background: rgb(238,174,220);
background: radial-gradient(circle, rgba(238,174,220,1) 0%, rgba(148,224,233,1) 100%);
} */
.post-product-section {
    margin: 50px auto;
    width: 80%;
    /* background-color: rgba(255, 255, 255, 0.4); */
  }
  
  h2 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  h1{
    /* text-align: center; */
    margin: 0;
    display: block;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #444;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input,
  textarea,
  select {
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
  }
  
  select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="%23444" d="M1.41 0L0 1.41 4.59 6H0v2h8V6H3.41L8 1.41 6.59 0 4.59 2 2.59 0z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    padding-right: 30px;
  }
  
  button[type="submit"].post-button {
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"].post-button:hover {
    background-color: #555;
  }
  