.dashboard-section {
    margin: 50px auto;
    width: 80%;
  }
  
  h2 {
    color: #444;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #444;
    color: #fff;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  th {
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .reply-button {
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .reply-button:hover {
    background-color: #555;
  }
  